* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 227, 243);
}

#header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

#menu-items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

#menu-items li {
    margin-left: 20px;
}

#header-message {
    margin-bottom: 35px;
    background-color: rgb(180, 222, 239);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; 
    overflow: hidden; 
}

#header-message p {
    margin: 0;
    font-size: 35px;
}


@media screen and (max-width: 360px) {
    #header-message p {
        font-size: 14px; 
    }
}


#header-message p {
    font-size: 35px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#content-container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "promotion1 promotion1 promotion2 promotion2 promotion3 promotion3"
        "title1 title1 title2 title3 title4 title5"
        "title6 title6 title7 title8 title9 title10";
    
}
.promo-item {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(173, 222, 242);
}

.promo-image {
    height: 100%;
    width: 80px;
    background-position: left;
    background-size: auto 100%;
}

.promo-item p {
    padding-left: 10px;
}

.promo-box {
    display: flex;
    align-items: center;
    flex: none;
    height: 50px;
    width: 32%;
    margin: 10px;
    background-color: rgb(178, 235, 235);
}

.title-content {
    position: relative;
}

.title-image {
    background-image: url("images/picture1.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
}

.star {
    flex: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.star img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.title-content p {
    width: 100%;
    background-color: rgba(89, 178, 190, 0.789);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.page {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 0%;
    background-color: rgba(255, 255, 255);
    z-index: 1;
    position: fixed;
    top: 0%;
    right: 0%;
    transition: 0.2s;
}
.page button {
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: right;
    margin: 10px 20px;
  }
  .page a {
    padding: 20px;
    cursor: pointer;
    text-align: center;
    color: black;
    text-decoration: none;
  }

.menu {
    display: flex;
}

.title {
    text-align: center;
    margin: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menu a {
    text-align: center;
    margin: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menu_img {
    display: none;
}

.menu_img img {
    height: 100%;
    width: 40px;
}

.promotion1 { grid-area: promotion1; }
.promotion2 { grid-area: promotion2; }
.promotion3 { grid-area: promotion3; }
.title1 { grid-area: title1; }
.title2 { grid-area: title2; }
.title3 { grid-area: title3; }
.title4 { grid-area: title4; }
.title5 { grid-area: title5; }
.title6 { grid-area: title6; }
.title7 { grid-area: title7; }
.title8 { grid-area: title8; }
.title9 { grid-area: title9; }
.title10 { grid-area: title10; }

@media  (max-width: 1200px) {
    #content-container {
        width: 90vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "promotion1 promotion1 promotion2 promotion2"
            "promotion3 promotion3 promotion3 promotion3"
            "title1 title2 title3 title4"
            "title5 title6 title7 title8"
            "title9 title9 title10 title10";
    }
}

@media (max-width: 600px) {
    #menu-items {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -50vw;
        background-color: white;
        z-index: 10;
        transition: right 0.5s;
    }
    
    #menu-items li {
        margin: 0;
        margin-top: 20px;
    }

    #content-container {
        width: 90vw;
        grid-template-columns: 1fr;
        grid-template-areas:
            "promotion1"
            "promotion2"
            "promotion3"
            "title1"
            "title2"
            "title3"
            "title4"
            "title5"
            "title6"
            "title7"
            "title8"
            "title9"
            "title10";
    }
    .menu {
        display: none;
      }
    
    .menu_img {
        display: block;
        height: 40px;
        margin-right: 10px;
        cursor: pointer;
    }
    
      .page {
        display: flex;
      }
}

